<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <!--公共CSS文件-->
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <!--公共js文件-->
    <script src="../../js/common.js"></script>
    <script src="../../js/overview/overviewCtl.js"></script>
</head>
<body ng-app="overview" ng-controller="overviewCtl">
<ng-include src=" '../../include/header.html' "></ng-include>

<ng-include src="'../../include/footer.html'"></ng-include>
</body>

</html>