<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon"/>

    <!--公共js文件-->
    <script src="../../js/common.js"></script>
    <script src="../../js/usercenter/usercenterCtl.js"></script>
</head>
<body ng-app="usercenter" ng-controller="usercenterCtl">
<div id="header" ng-include="'../../view/include/header.html'"></div>

<div id="bodyContent" style="width: 100%;">
    <div style="margin: 30px 50px">
        <div>
            <blockquote class="layui-elem-quote layui-text">
                <h3>个人档案</h3>
            </blockquote>

            <fieldset class="layui-elem-field">
                <legend style="width: auto; border: none;">默认</legend>
                <div class="layui-field-box">
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div class="form-group" style="float: left" >
                            <div style="float: left; margin-right: 10px;"><label for="name">姓名: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="name" readonly="readonly" placeholder="" value="{{user.username}}">
                            </div>
                        </div>
                        <div class="form-group" style="float: left">
                            <div style="float: left; margin-right: 10px;"><label for="idCard">身份证号: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="idCard" readonly="readonly" placeholder="" value="{{user.idCard}}">
                            </div>
                        </div>
                        <div class="form-group" style="float: left">
                            <div style="float: left; margin-right: 10px;"><label for="number">账号: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="number" readonly="readonly" placeholder="" value="{{user.workNumber}}">
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div style="float: left; margin-right: 10px;"><label for="nativePlace">籍贯:</label></div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="provice" readonly="readonly" placeholder="" value="{{user.provice}}">
                        </div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="city" readonly="readonly" placeholder="" value="{{user.city}}">
                        </div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="county" readonly="readonly" placeholder="" value="{{user.county}}">
                        </div>
                    </div><br>
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div style="float: left; margin-right: 10px;"><label for="address">住址:</label></div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="proviceAddress" readonly="readonly" placeholder="" value="{{user.proviceAddress}}">
                        </div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="cityAddress" readonly="readonly" placeholder="" value="{{user.cityAddress}}">
                        </div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="countyAddress" readonly="readonly" placeholder="" value="{{user.countyAddress}}">
                        </div>
                        <div style="float: left; margin-right: 10px;">
                            <input type="text" class="form-control" id="detailAddress" readonly="readonly" placeholder="" value="{{user.detailAddress}}">
                        </div>
                    </div><br>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field">
                <legend style="width: auto; border: none;">自定义</legend>
                <div class="layui-field-box">
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div class="form-group" style="float: left" >
                            <div style="float: left; margin-right: 10px;"><label for="phone">电话: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="phone" placeholder="" value="{{user.phone}}">
                            </div>
                        </div>
                        <div class="form-group" style="float: left">
                            <div style="float: left; margin-right: 10px;"><label for="email">邮箱: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="email" placeholder="" value="{{user.email}}">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div>
            <blockquote class="layui-elem-quote layui-text">
                <h3>系统信息</h3>
            </blockquote>

            <fieldset class="layui-elem-field">
                <legend style="width: auto; border: none;">默认</legend>
                <div class="layui-field-box">
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div class="form-group" style="float: left" >
                            <div style="float: left; margin-right: 10px;"><label for="group">集体: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="group" readonly="readonly" placeholder="" value="{{user.tenant}}">
                            </div>
                        </div>
                        <div class="form-group" style="float: left">
                            <div style="float: left; margin-right: 10px;"><label for="role">角色: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="role" readonly="readonly" placeholder="" value="{{user.role}}">
                            </div>
                        </div>
                    </div><br>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field">
                <legend style="width: auto; border: none;">个性化</legend>
                <div class="layui-field-box" style="float: left">
                    <div class="form-group" style="line-height: 35px; height: 35px;">
                        <div class="form-group" style="float: left" >
                            <div style="float: left; margin-right: 10px;"><label for="nickname">昵称: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="nickname" placeholder="请输入昵称" value="{{user.nickName}}">
                            </div>
                        </div>
                        <div class="form-group" style="float: left">
                            <div style="float: left; margin-right: 10px;"><label for="password">密码: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <input type="text" class="form-control" id="password" placeholder="" value="{{user.password}}">
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group" style="">
                        <div class="form-group" style="float: left" >
                            <div style="float: left; margin-right: 10px;"><label for="autobiography">自述: </label></div>
                            <div style="float: left; margin-right: 50px;">
                                <textarea type="text" style="width: 800px" class="form-control" id="autobiography">{{user.autobiography}}</textarea>
                            </div>
                        </div>
                    </div><br>
                </div>
                <div class="layui-field-box" style="float: right; margin-right: 30px">
                    <div class="layui-upload-drag" id="imageHead" style="border-color: #3F3F3F">
                        <i class="layui-icon" style="color: #3F3F3F"></i>
                        <p>点击上传头像</p>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

</div>

<div id="footer" ng-include="'../../view/include/footer.html'"></div>
</body>

</html>