<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #footer{
            width: 100%;
            background-color: #333333;

        }

        #footerContent{
            bottom: 0;
            width: 100%;
            background-color: #333333;
        }
    </style>
</head>
<body>
<!-- footer -->
<div align="center" id="footerContent">
    <p style="color: lightgrey">Copyright &copy; 2016.Company ldvv All rights reserved.Smart School</p>
</div>
<!-- //footer -->

</body>
</html>